PluginVda/PluginVDA.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vda">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fileType" type="xs:unsignedShort" />
        <xs:element name="keyWord" type="xs:unsignedShort" />
        <xs:element name="rows">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="row">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rowName" type="xs:unsignedShort" />
                    <xs:element name="mandatory" type="xs:string" />
                    <xs:element name="repetition" type="xs:string" />
                    <xs:element name="level" type="xs:unsignedByte" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="fields">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="field">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="type" type="xs:string" />
                                <xs:element name="position" type="xs:unsignedByte" />
                                <xs:element name="size" type="xs:unsignedByte" />
                                <xs:element name="mandatory" type="xs:string" />
                                <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
                                <xs:element name="description" type="xs:string" />
                                <xs:element minOccurs="0" name="Data" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>